{% extends "student/base.html" %}

{% block title %}{{ practice.title }}{% endblock %}

{% block content %}

{% include "supervisorOPOP/practice_detail_card.html" %}

{% include "student/practice_student_detail_card.html" %}

{% if practice_student %}
    <form method="post" enctype="multipart/form-data" class="mt-3" action="{% url 'student-practice-student-parse-file' practice_id=practice.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="csvFile">Загрузить CSV файл</label>
            <input type="file" class="form-control-file" id="csvFile" name="csv_file" accept=".csv">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endif %}

{% include "supervisorPractice/practice_student_detail_card.html" %}

{% if practice_student.ratingpracticestudent %}
    <form action="{% url 'student-practice-detail' practice.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Скачать отчет</button>
    </form>
{% endif %}

{% endblock content %}