{% extends "supervisorPractice/base.html" %}

{% block title %}{{ practice.title }}{% endblock %}

{% block content %}
{% include "supervisorOPOP/practice_detail_card.html" %}
{% include "student/practice_student_detail_card.html" %}
{% include "supervisorPractice/practice_student_detail_card.html" %}
{% if practice_student.amount %}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'supervisor-practice-practice-student-update' pk=practice_student.id%}">Изменить оценку</a>
{% else %}
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'supervisor-practice-practice-student-update' pk=practice_student.id%}">Оценить</a>
{% endif %}
{% endblock content %}